body,
header,
nav,
main,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #000;
}

body {
    height: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #000;
    background: radial-gradient(circle, rgb(63, 15, 15) 0%, rgb(4, 6, 15) 67%, rgba(0, 0, 0, 1) 100%);
    text-shadow: 0px 2px 5px #000000;
}

header {
    padding: 1%;
    font-size: 72px;
    letter-spacing: 2px;
    font-weight: 400;
    background-image: url("/images/banGJ1.png");
    background-attachment: fixed;
}

nav {
    padding: 25px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px #000;
    background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
}

nav p a {
    color: #fff;
    text-decoration: none;
    font-size: 3.5em;
    font-weight: bold;
    padding: 15px 6% 15px 6%;
    text-shadow: 0px 2px 5px #191919;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0px 10px 20px #000;
    background: linear-gradient(0deg, rgb(41, 41, 41) 0%, #5e5e5e 100%);
}

a:hover:not(.active) {
    background-color: #4d4d4d;
}

main {
    padding-top: 5%;
    padding-bottom: 5%;
}

h2 {
    font-size: 3.5em;
}

img {
    max-width: 100%;
    max-width: 1280px;
    height: auto;
    width: 80%;
}

.texttop {
    padding-top: 2%;
    padding-bottom: 5%;
}

footer {
    font-size: 2.5em;
    padding: 3%;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px #000;
    background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
}

#games ul {
    padding-bottom: 2%;
}

#games li {
    background-color: #191919;
    margin: auto;
    margin-bottom: 10px;
    width: 75%;
    padding: 3%;
    text-align: left;
    list-style: none;
    overflow: auto;
}

#games ul img {
    max-width: 256px;
    margin-right: 2%;
    float: left;
    display: block;
}

#links li {
    background-color: #191919;
    margin: auto;
    margin-bottom: 10px;
    width: 60%;
    padding: 1%;
    list-style: none;
    overflow: auto;
}

.role {
    color: aqua;
    font-weight: bold;
}

#aboutme {
    line-height: 1.5;
    width: 80%;
    max-width: 1280px;
    text-align: justify;
    display: inline-block;
    font-size: 2.5em;
}

#aboutme a {
    color: #fff;
    font-weight: bold;
}

.gamelist {
    width: 80%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px #000;
    background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
}

.gamelist img {
    max-width: 512px;
    height: auto;
    margin-top: 5%;
    border-radius: 10px;
    outline: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 10px 20px #000;
}

.gametext {
    margin-top: 0px;
    margin-right: 28px;
    margin-left: 28px;
    text-align: center;
    font-size: 2.5em;
}

#upcoming {
    text-align: center;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
}

#linklist {
    display: inline-block;
    justify-content: center;
}

.thelink {
    width: 80%;
    background-color: #191919;
    margin-bottom: 75px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    outline: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 10px 20px #000;
}

.thelink p {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 54px;
}

/* Slides Stuff */

* {
    box-sizing: border-box
}

/* Slides container */

.slides-container {
    max-width: 1280px;
    position: relative;
    margin: auto;
    width: 80%;
}

.slides-container img {
    outline: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 20px #000;
}

.slides-container:hover>.slides>.subtext,
.slides-container:hover>.next,
.slides-container:hover>.prev {
    opacity: 1;
}

/* Hide the images by default */

.slides {
    display: none;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -70px;
    padding: 72px 32px 72px 32px;
    color: white;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 5px;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px #000;
    background: linear-gradient(0deg, rgba(41, 41, 41, 0.5) 0%, #5e5e5e7a 100%);
}

/* Position the "next button" to the right */

.next {
    right: 0;
}

.prev {
    left: 0;
}

/* Prev & next button hover hitbox color */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.subtext {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 5px;
    text-shadow: 0px 2px 5px #000000;
}

.subtext a {
    color: rgba(255, 255, 255, 0.6);
}

/* The below image dots */

.dot {
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin: 0 8px;
    box-shadow: 0px 10px 20px #000;
    background: linear-gradient(0deg, rgb(75, 75, 75) 0%, #acacac 100%);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 0.4s;
}

@keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}

/* Media Query for Desktop Viewport */

@media screen and (min-width: 1080px),
print {
    nav {
        padding: 15px;
        outline: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px #000;
        background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
    }
    nav p a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 4% 10px 4%;
        text-shadow: 0px 2px 5px #191919;
        border-radius: 5px;
        margin: 2px;
        box-shadow: 0px 10px 20px #000;
        background: linear-gradient(0deg, rgb(41, 41, 41) 0%, #5e5e5e 100%);
    }
    h2 {
        font-size: 1.5em;
    }
    footer {
        font-size: 1em;
        padding: 1%;
        outline: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px #000;
        background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
    }
    #aboutme {
        line-height: 1.5;
        width: 80%;
        max-width: 1280px;
        text-align: justify;
        display: inline-block;
        font-size: 1.2em;
    }
    .gamelist {
        width: 75%;
        height: 200px;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px #000;
        background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
    }
    .gamelist img {
        max-width: 256px;
        height: auto;
        float: left;
        margin: 28px;
        border-radius: 10px;
        outline: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 10px 20px #000;
    }
    .gametext {
        margin-top: 23px;
        margin-right: 28px;
        margin-left: 0px;
        text-align: justify;
        font-size: 1.2em;
    }
    .thelink {
        width: 80%;
        background-color: #191919;
        margin-bottom: 20px;
        display: inline-block;
        text-decoration: none;
        border-radius: 10px;
        outline: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 10px 20px #000;
    }
    .thelink p {
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-weight: bold;
        font-size: 28px;
    }
    /* Slides Stuff */
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        width: auto;
        margin-top: -22px;
        padding: 48px 32px 48px 32px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
        border-radius: 5px;
        outline: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px #000;
        background: linear-gradient(0deg, rgba(41, 41, 41, 0.5) 0%, #5e5e5e7a 100%);
        opacity: 0.0;
        transition: 0.5s;
    }
    /* The below image dots */
    .dot {
        cursor: pointer;
        height: 9px;
        width: 9px;
        margin: 0 2px;
        box-shadow: 0px 10px 20px #000;
        background: linear-gradient(0deg, rgb(41, 41, 41) 0%, #5e5e5e 100%);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active {
        background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
        outline: 2px solid rgba(0, 0, 0, 0.5);
    }
    .subtext {
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        bottom: 5px;
        opacity: 0.0;
        transition: 0.5s;
        text-shadow: 0px 2px 5px #000000;
    }
    .subtext a {
        color: rgba(255, 255, 255, 0.6);
    }
}

/* Media Query for Large Desktop Viewports */

@media screen and (min-width: 1921px) {
    #aboutme {
        line-height: 2.5;
        width: 100%;
        max-width: 1920px;
        text-align: justify;
        display: inline-block;
        font-size: 1.2em;
        padding-bottom: 3%;
    }
    .gamelist {
        width: 50%;
        height: 200px;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px #000;
        background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(32, 32, 32) 100%);
    }
    .thelink {
        width: 100%;
        background-color: #191919;
        margin-bottom: 110px;
        display: inline-block;
        text-decoration: none;
        border-radius: 10px;
        outline: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 10px 20px #000;
    }
    .thelink p {
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-weight: bold;
        font-size: 28px;
    }
}
