@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    margin: 0;
    height: 100%;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.enter {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #070707;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter:hover {
    cursor: pointer;
}

.enter p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.6px;
    font-size: 18px;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

video {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.area {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 10px;
}

.area .pfp {
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid rgba(255, 255, 255, .1);
    transition: .1s ease-in-out;
}

.area .pfp:hover {
    transform: scale(1.05);
}

.area .bio {
    background: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 20px 50px;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
    border: 1px solid #292929;
    border-width: 1px 0 1px 1px;
    text-align: center;
}

.socials {
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 26px;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
}

.socials img {
    height: 46px;
    transition: .15s ease-in-out;
}

.socials a:hover img {
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    background: url(dot.png);
    background-size: 3px;
}

.btn {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 0 16px 16px 0;
    text-decoration: none;
    text-align: center;
    transition: .15s ease-in-out;    
    border: 1px solid #292929;
    border-left: 0px;
    width: fit-content;
    display: flex;
    fill: #000;
    aspect-ratio: 1/1;
    padding: 0 16px;
}

.btn:hover {
    background: #000;
    fill: #fff;
}

.btn svg {
    margin: auto;
    height: 30px;
}

.flex {
    display: flex;
}





.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff, #ffff00, #ff00ff);
    filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: -1;
}



.coming-soon-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: white;
}
